<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://code.jquery.com/jquery-3.5.1.js"
      integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
      crossorigin="anonymous"
      ></script>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/mainpage.css') }}">
   
      <!-- Compiled and minified CSS -->
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
      />

      <!-- chart js cdn -->
      <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg=="
      crossorigin="anonymous"
    ></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <title>MuhSorting Algos</title>
  </head>
  <body>
    <div class="container">
      <h1>Bubble Sort</h1>
      <!-- <h4>Pythong Code</h4> -->
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Cq7SMsQBEUw"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      >
      </iframe>
      <!-- <form method="POST"> -->
      <h2>
        Input the numbers you want to bubble sort seperated by spaces.
        If you leave it blank, select the number of indices with the slider
        below.
      </h2>
      <input id="inpuut" name="text" />
      <button
        id="butt"
        class="btn waves-effect waves-light"
        type="submit"
        name="action"
      >
        Submit
      </button>
      <form action="#">
        <p class="range-field">
          <input type="range" id="test5" min="0" max="100" />
        </p>
        <div>
          Number of indices:
          <div id="val">50</div>
        </div>
      </form>
      <!-- <canvas id="myChart" width="400" height="100"></canvas> -->
      <!-- </form> -->
      <ul class="result"></ul>
    </div>
    <script src="{{ url_for('static',filename='js.js') }}"> </script>
  </body>
</html>
